<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">

body {
  font-family: 'Courier Prime', monospace;

}

p {
  font-family: 'Courier Prime', monospace;
}

h1 {
  font-family: 'Courier Prime', monospace;
}
