
body {
  font-family: 'Courier Prime', monospace;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 150px;
}

p {
  font-family: 'Courier Prime', monospace;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

h1 {
  font-family: 'Courier Prime', monospace;
}

h2 {
  font-family: 'Courier Prime', monospace;
}
