<style>
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
</style>

body {
  font-family: 'Courier Prime', monospace;
  margin: 1;
}

p {
  font-family: 'Courier Prime', monospace;
}

h1 {
  font-family: 'Courier Prime', monospace;
}
